/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #654ea3, #eaafc8);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(10px);
}

.login-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    color: #fff;
    position: relative;
}

.login-form h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.input-group input::placeholder {
    color: #ddd;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4e73df;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #2e59d9;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}

.login-form::before {
    content: "";
    position: absolute;
    top: -110px; /* Adjust the value to position the logo */
    left: 50%;
    transform: translateX(-50%);
    width: 250px; /* Adjust the size as needed */
    height: 250px; /* Adjust the size as needed */
    background: url('img/logo1.png') no-repeat center center; /* Replace 'logo.png' with the path to your logo */
    background-size: contain;
}

.brand {
    margin-top: 10px;
}

.brand p {
    font-family: 'Pacifico', cursive; /* Use the unique font */
    font-size: 30px; /* Adjust size as needed */
    color: #fff;
    text-align: center;
}
